<nav >
    <a routerLink="/list-of-products" routerLinkActive="active">Order Products</a>
 <!--<a routerLink="/list-of-orders" routerLinkActive="active">All Orders</a>-->
    <a routerLink="/filter-list-of-products" routerLinkActive="active">Search of Products</a>
    <a routerLink="/fuzzy-search-list-of-products" routerLinkActive="active">Fuzzy Search of Products</a>
    <a routerLink="/add-products" routerLinkActive="active">Add New Products</a>
    <a routerLink="/all-products" routerLinkActive="active">All-Products</a>
    <a routerLink="/cart" routerLinkActive="active">Cart</a>
    <a routerLink="/order-form" routerLinkActive="active">Order Product</a>
   

    </nav>

    <router-outlet></router-outlet>